body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#errors {
    color: red;
    margin-left: 10px;
}

#board {
    width: 450px;
    height: 458px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 47px;
    height: 48px;
    border: 1px solid #2b2b2b;
    margin: 0 auto;

    /* text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    position: relative;
    top: 20px;
    width: 450px;
    height: 50px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    position: relative;
    width: 43px; /* 50px - 4px - 2px = 44px */
    height: 43px;
    border: 2px solid #2b2b2b; /* 1x2=2px */
    margin: 2px auto; /* 2x2 px = 4px */
    
    /* text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: lightslategray;
}

.tile-start {
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 4px solid black;
}

.vertical-line {
    border-right: 4px solid black;
}

#heart {
    position: absolute;
    top: 215px;
    right: 200px;
    width: 320px;
    height: 64px;
    display: flex;
    flex-wrap: wrap;
}

label {
    position: absolute;
    top: 190px;
    right: 200px;
    width: 320px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    display: flex;
}

#mistakes {
    position: absolute;
    top: 130px;
    right: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 55px;
}

#mistakes h2 {
    font-weight: lighter;
}

#game-over-header-lose {
    position: absolute;
    top: 270px;
    right: 600px;
    width: 320px;
    height: 50px;
    font-size: xx-large;
    color: red;
}

#game-over-header-win {
    position: absolute;
    top: 270px;
    right: 600px;
    width: 320px;
    height: 50px;
    font-size: xx-large;
    color: green;
}

#game-over-screen {
    position: absolute;
    top: 90px;
    right: 535px;
    width: 450px;
    height: 455px;
    background-color: black;
    opacity: 0.25;
}

#try-again-lose {
    position: absolute;
    top: 345px;
    right: 600px;
    width: 320px;
    height: 50px;
    color: red;
    text-decoration: none;
}

#try-again-win {
    position: absolute;
    top: 345px;
    right: 600px;
    width: 320px;
    height: 50px;
    color: green;
    text-decoration: none;
}

#time-header {
    position: absolute;
    top: 90px;
    right: 460px;
    display: flex;
    flex-wrap: wrap;
    width: 60px;
    height: 25px;
    font-weight: lighter;
}

#timer {
    position: absolute;
    top: 90px;
    right: 185px;
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    height: 40px;
    font-weight: lighter;
    font-size: 25px;
}
